<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>  
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net debug="true">
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingLogFileAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%date] %level [%thread][%c{1}:%line] - %m%n" />
      </layout>
    </appender>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="admin" />
      <param name="DatePattern" value="'.'yyyy-MM-dd-HH'.log'" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%date] %level [%thread][%c{1}:%line] - %m%n" />
      </layout>
    </appender>
  </log4net>

  <appSettings>
    <add key="IsTest" value="True" />
    <!--日志记录接口-->
    <add key="LogWriter" value="Common.Log.ErrorLogWriter,Common" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--资源站点公共目录-->
    <add key="ShareRes" value="http://img.cai.com/share" />
    <!--资源站点URl-->
    <add key="ResourceSiteUrl" value="http://img.cai.com/iqucai" />
    <!--资源站点图片上传地址-->
    <add key="ResourceSitePostUrl" value="http://img.cai.com/iqucai" />
    <!--彩富资源站点URl-->
    <add key="ResourceSiteUrl_Tgbank" value="http://img.cai.com/iqucai" />
    <!--彩富资源站点图片上传地址-->
    <add key="ResourceSitePostUrl_Tgbank" value="http://img.cai.com/iqucai" />
    <!--前台站点URl-->
    <add key="WebSiteUrl" value="http://www.cai.com" />
    <!--后台站点URl-->

    <!--生成静态数据url配置，每项可配置多个url，并以|分隔-->
    <add key="SendUrl_Web" value="http://www.cai.com" />
    <add key="SendUrl_Wap" value="http://m.cai.com" />
    <add key="SendUrl_App" value="http://app.cai.com" />

    <!--生成静态页发送通知地址-->
    <add key="BuildStaticFileSendUrl" value="http://www.cai.com|http://m.cai.com|http://app.cai.com" />

    <!--队伍文件根目录-->
    <add key="MatchRoot" value="http://data.cai.com/MatchData/" />

    <!--上传图片-->
    <add key="UpLoadFile" value="/UpLoad/uploadimages/" />
    <!--上传路径-->
    <add key="UpLoadPostPath" value="/UpLoad/upload_json.aspx" />
    
    <!--上传非图片文件请求url-->
    <add key="UploadFileRequestUrl" value="http://img.cai.com" />
    <!--上传非图片文件请求Action-->
    <add key="UploadFileAction" value="UpLoad/upload_file" />
    <!--上传非图片文件保存目录-->
    <add key="FileSavePath" value="Upload/files" />
    
    <!--1: 网 2:挖彩宝（填写汉字）-->
    <add key="WebSiteName" value="大奖网开发环境" />
    <!--判断是那个项目文件目录-->
    <add key="WebSiteEName" value="HtAdmin" />
    <!--判断是那个项目文件目录-->
    <add key="WebSiteEName_Tgbank" value="iqucai" />

    <!--WCF地址配置信息-->
    <!--<add key="WcfClientUrl.Activity" value="http://wcf.core.cai.com/Wcf_Activity.svc" />
    <add key="WcfClientUrl.External" value="http://wcf.core.cai.com/Wcf_External.svc" />
    <add key="WcfClientUrl.GameBiz.Core" value="http://wcf.core.cai.com/Wcf_GameBiz_Core.svc" />
    <add key="WcfClientUrl.GameBiz.Fund" value="http://wcf.core.cai.com/Wcf_GameBiz_Fund.svc" />
    <add key="WcfClientUrl.GameBiz.Query" value="http://wcf.core.cai.com/Wcf_GameBiz_Query.svc" />
    <add key="WcfClientUrl.GameBiz.Issuse" value="http://wcf.core.cai.com/Wcf_GameBiz_Issuse.svc" />
    <add key="WcfClientUrl.GameBiz.Experter" value="http://wcf.core.cai.com/Wcf_GameBiz_Experter.svc" />

    <add key="WcfClientUrl.LotteryData" value="http://wcf.lotterydata.cai.com/Wcf_LotteryData_LostHot.svc" />
    <add key="WcfClientUrl.Chart" value="http://wcf.lotterydata.cai.com/Wcf_LotteryData_Chart.svc" />
    <add key="WcfClientUrl.InfoBiz.Core" value="http://wcf.lotterydata.cai.com/Wcf_Info_Core.svc" />-->

    <add key="WcfClientUrl.Activity" value="http://wcf2.core.cai.com/Wcf_Activity.svc" />
    <add key="WcfClientUrl.External" value="http://wcf2.core.cai.com/Wcf_External.svc" />
    <add key="WcfClientUrl.GameBiz.Core" value="http://wcf2.core.cai.com/Wcf_GameBiz_Core.svc" />
    <add key="WcfClientUrl.GameBiz.Fund" value="http://wcf2.core.cai.com/Wcf_GameBiz_Fund.svc" />
    <add key="WcfClientUrl.GameBiz.Query" value="http://wcf2.core.cai.com/Wcf_GameBiz_Query.svc" />
    <add key="WcfClientUrl.GameBiz.Issuse" value="http://wcf2.core.cai.com/Wcf_GameBiz_Issuse.svc" />
    <add key="WcfClientUrl.GameBiz.Experter" value="http://wcf2.core.cai.com/Wcf_GameBiz_Experter.svc" />

    <add key="WcfClientUrl.LotteryData" value="http://wcf2.lotterydata.cai.com/Wcf_LotteryData_LostHot.svc" />
    <add key="WcfClientUrl.Chart" value="http://wcf2.lotterydata.cai.com/Wcf_LotteryData_Chart.svc" />
    <add key="WcfClientUrl.InfoBiz.Core" value="http://wcf2.lotterydata.cai.com/Wcf_Info_Core.svc" />

    <!--艾付-->
    <add key="af_merchant_no" value="1448008923"/>
    <add key="af_key" value="560d1319-d889c40f997"/>
    <add key="af_url" value="http://pay.iaw/singleWithdraw"/>
    <!--艾付支付密码-->
    <add key="af_pay_pwd" value="B73DEFC20014E8436443066304B"/>

    <!--新付-->
    <add key="xinfu_merchNo" value="201001676"/>
    <add key="xinfu_key" value="b691781f9fbf9036f6dd5621"/>
    <add key="xinfu_NoticeUrl" value="http://paytz.jFNotifyUrl"/>
    <add key="xinfu_Url" value="http://trade.7xinpnent/pay_gate.cgi"/>
    
  </appSettings>


  <connectionStrings>
    <add name="HTAdminIdentity" connectionString="Data Source=.;Initial Catalog=HTAdmin;UID=sa;PWD=sa123;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" maxRequestLength="40960" /><!--最大请求长度,单位为kb-->
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <modules>
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="integratedMode,managedHandler" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>
