
@{

    ViewBag.Title = "发送推送";
}
<style>
    .textWidth300 {
        width: 300px
    }

    .textWidth450 {
        width: 450px
    }

    .labelWidth {
        width: 120px
    }
</style>
<div class="layui-card">
    <div class="layui-card-body">
        <form class="layui-form">
            @*<div class="layui-form-item">
                <label class="layui-form-label labelWidth">发送给</label>
                <div class="layui-input-inline">
                    <div class="layui-btn-group" id="UserGroupButton">
                        <button class="layui-btn" type="button" value="All">全部用户</button>
                    </div>
                </div>
            </div>*@
            <div class="layui-form-item">
                <label class="layui-form-label labelWidth">推送标题</label>
                <div class="layui-input-inline">
                    <input type="text" lay-verify="title" autocomplete="off" placeholder="请输入推送标题" class="layui-input textWidth450" id="PushTitle" maxlength="20">
                </div>
            </div>
            <div class="layui-form-item" pane="">
                <label class="layui-form-label labelWidth">推送内容</label>
                <div class="layui-input-inline">
                    @*<input type="text" lay-verify="title" autocomplete="off" placeholder="请输入推送内容" class="layui-input" id="PushContent" maxlength="200">*@
                    <textarea placeholder="请输入推送内容" id="PushContent" maxlength="200" class="layui-input" style="width:450px;height:50px"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label labelWidth">跳转到</label>
                <div class="layui-input-block">
                    @*<input name="TransferTo" type="radio" value="0" title="应用" lay-filter="TransferTo" />
                        <input name="TransferTo" type="radio" value="3" title="用户自定义" lay-filter="TransferTo" />*@
                    <input name="TransferTo" type="radio" value="4" title="首页" lay-filter="TransferTo" />
                    <input name="TransferTo" type="radio" value="2" title="指定页" lay-filter="TransferTo" />
                    <input name="TransferTo" type="radio" value="1" checked="checked" title="链接" lay-filter="TransferTo" />
                </div>
            </div>
            <div class="layui-form-item" id="divPushUrl">
                <label class="layui-form-label labelWidth">跳转链接</label>
                <div class="layui-input-inline">
                    <input type="text" lay-verify="title" autocomplete="off" placeholder="请输入跳转链接" class="layui-input textWidth450" id="PushUrl" maxlength="200">
                </div>
            </div>

            <div class="layui-form-item layui-layout-admin">
                <div class="layui-input-inline">
                    <div class="layui-footer" style="text-align:right;">
                        <button type="button" class="layui-btn layui-btn-primary" id="btnCancel">取消</button>
                        <button type="button" class="layui-btn layui-btn-normal" lay-filter="add" id="btnSave" style="margin-right:20px;">提交</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
@section scripts{
    <script>

        var _isSubmitting = false;
        $("#btnSave").click(function () {
            if (_isSubmitting) return;
            _isSubmitting = true;

            var PushTitle = $('#PushTitle').val(),
                PushContent = $('#PushContent').val(),
                PushUrl = $('#PushUrl').val(),
                AfterOpenType = $("input[name='TransferTo']:checked").val();

            if (!PushTitle) {
                ShowWarnningMsg('请输入推送标题');
                _isSubmitting = false;
                return false;
            }
            if (!PushContent) {
                ShowWarnningMsg('请输入推送内容');
                _isSubmitting = false;
                return false;
            }
            if (!PushUrl) {
                ShowWarnningMsg('请输入推送跳转链接');
                _isSubmitting = false;
                return false;
            }
            $.ajax({
                type: "POST",
                url: "/Message/MessagePushJson",
                data: {
                    PushTitle: PushTitle,
                    PushContent: PushContent,
                    PushLinkUrl: PushUrl,
                    AfterOpenType: AfterOpenType,
                    Activity: '',
                },
                success: function (res) {
                    if (res.IsSuccess) {
                        ShowSuccessMsg('提交成功', true, true);
                    } else {
                        ShowErrorMsg('提交失败');
                    }
                },
                error: function () {
                    ShowErrorMsg('提交失败');
                },
                complete: function () {
                    _isSubmitting = false;
                }
            });
        });

        $("#btnCancel").click(function () {
            var index = parent.layer.getFrameIndex(window.name);
            parent.layer.close(index);//关闭当前页
        });
    </script>
}